@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Zen+Dots&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
}
:root{
  --yellow: #fcba03;
  --blue: #03e8fc;
  --green: #03fc07;
  --headerFont: 'Zen Dots', sans-serif;
  --mainFont: 'Space Mono', monospace;
}
h1{
  font-family: var(--headerFont);
  color: white;
}
body{
  background-color: black;
  background-image: url('../src/images/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

label{
  color: var(--blue);
}
input, select{
  border: 2px solid var(--blue);
  padding: 0.3em;
  border-radius: 2px;
}
button{
  margin-top: 1em;
  border: none;
  padding: 0.6em;
  border-radius: 2em;
  background-color: var(--green);
}
button:hover{
  background-color: var(--yellow);
}